@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@keyframes paddingReveal {
    from { padding: 0 30rem; }
    to { padding: 0; }
}
@keyframes mov-diag {
    from { background-position: 0 0; }
    to { background-position: 700px 700px; }
}

@media (max-width: 766px) {
    body { animation: none; margin: 0.3rem; }

    .body {
    gap: 0.3rem;

    grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
    grid-auto-rows: 2em;
    }
}
@media (min-width: 767px) {
    body { animation: paddingReveal 2s ease; margin: 0.4rem; }

    .body {
    gap: 0.4rem;

    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-auto-rows: 3em;
    }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 0.5rem !important;
  margin-top: 0.1rem !important;
}
.p { font-size: clamp(0.5rem, 2vw, 1rem); }

body {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    /* font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal; */
    color: beige;
    background-color: #0e0e0e;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0e0e0e 40px ), repeating-linear-gradient( #19191955, #191919 );

    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
} ::-webkit-scrollbar { display: none; }

.body {
    display: grid;
}

.rect {
    background-color: #2c2b4f;
    background-image:  radial-gradient(#f5f5dc12 0.9px, transparent 0.9px), radial-gradient(#f5f5dc08 0.9px, #2c2b4f 0.9px);
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
    border: 0.5px solid rgba(245, 245, 220, 0.11);
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    transition: transform 0.1s ease;
    text-decoration: none;
    color: beige;
} 
.rect:hover {
    background-color: rgba(47, 45, 80, 0.779);
    backdrop-filter: blur(2px);
    transform: scale(1.2, 1.2);
}

.pattern-bg:hover {
    background-image: url(/assets/mhmdhrts_45.svg);
    background-size: 40rem 40rem;
    background-position: 0rem;
    animation: mov-diag 10s linear infinite;
}

.s1x2 { grid-area: span 1 / span 2; }
.s2x1 { grid-area: span 2 / span 1; }
.s2x2 { grid-area: span 2 / span 2; }
.s2x3 { grid-area: span 2 / span 3; }
.s3x2 { grid-area: span 3 / span 2; }
.s4x2 { grid-area: span 4 / span 2; }
.s4x3 { grid-area: span 4 / span 3; }
.s3x1 { grid-area: span 3 / span 1; }
.s3x3 { grid-area: span 3 / span 3; }
.s5x4 { grid-area: span 5 / span 4; }

#name {
    grid-area: span 5 / span 7;
    font-size: clamp(3rem, 7vw, 4rem);
    letter-spacing: -0.2rem;
} #name p {
    font-size: clamp(1.5rem, 3vw, 2.5em);
    letter-spacing: -0.1rem;
}

#threeD {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
} #threeD:hover {
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTN4MDU4dzhvaG1xNGZucTR5ZzhsM29tNjFrenp3M3pnbzY4dDRsZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mVp6sSZsgunzuKqIXM/giphy.gif);
    background-size: contain;
    background-blend-mode: multiply;
}
#gd {
    grid-area: span 3 / span 3;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
} #gd:hover {
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTViamJ0aHppd2Z3dTVnc3F4cmhwdTh0cnhxdXlpZ2YycHpvNjRrMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3nSWRgDAparB8ad2/giphy.gif), url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2RobmNtZDV1ZmltdGhudTJxZmFzamRjcmpsODRrZWtrc2h5NGpyayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEduH6SyNoeIICZDa/giphy.gif);
    background-size: cover, 150px;
    background-position: 10px, top right;
    background-repeat: repeat, no-repeat;
    background-blend-mode: multiply, overlay;
}
#cs {
    grid-area: span 4 / span 3;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
} #cs:hover {
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDlhdmo3cHR2cjFjY2NpMjM5OXo2cmF4YXppanpmY2k2cmtlMGM3aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/13UZisxBxkjPwI/giphy.gif);
    background-size: contain;
    background-blend-mode: multiply;
}
#fg {
    grid-area: span 3 / span 4;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
} #fg:hover {
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGlpazFweDMzeTdjZDY5aHRlbnNpcHM2dXJoNjMwcmo5YWNzNTFnZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NMBqdKUKQ3aLe/giphy.gif);
    background-size: cover;
    background-position: 10px -70px;
    background-blend-mode: multiply;
}

#ttl {
    grid-area: span 2 / span 3;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
#edu {
    grid-area: span 3 / span 2;
    font-size: clamp(0.8rem, 1.4vw, 1.4rem);
}

